<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">@谏言</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.built_with %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">@安逸</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.powered_by %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">@关于</h4>
                <div class="ui inverted link list">
                    <a class="item" href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
                    <a class="item" href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                    <a class="item" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=g298@qq.com" target="_blank">G298@qq.com</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ site.title }}</h4>
                <div class="ui inverted link list">
                    <div class="item">&copy; {{ site.time | date: "%Y" }} {{ site.organization }}</div>
                    <div class="item">Designed and built with all the love and passion in the world by {{ site.author }}.</div>
                    <a class="item loading-trigger" href="{{ '/analytics/' | relative_url }}">
                        Visits / Page Views:
                        <span id="today-visits">0</span> / <span id="today-actions">0</span> (Today)
                        &middot;
                        <span id="yesterday-visits">0</span> / <span id="yesterday-actions">0</span> (Yesterday)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1886054461493755",
          enable_page_level_ads: true
     });
</script>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ay -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1886054461493755"
     data-ad-slot="6317961494"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
