<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Built with</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.built_with %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Powered by</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.powered_by %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a class="item" href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
                    <a class="item" href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                    <h4 class="ui inverted header">友情链接</h4>
                    <a class="item" href="https://web.geekji.cn/" target="_blank">钛导航</a>
                    <a class="item" href="https://blog.anyi.life" target="_blank">安逸博客</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ site.title }}</h4>
                <div class="ui inverted link list">
                    <div class="item">&copy; {{ site.time | date: "%Y" }} {{ site.organization }}</div>
                    <div class="item">Designed and built with all the love and passion in the world by {{ site.author }}.</div>
                    <a class="item loading-trigger" href="{{ '/analytics/' | relative_url }}">
                        Visits / Page Views:
                        <span id="today-visits">0</span> / <span id="today-actions">0</span> (Today)
                        &middot;
                        <span id="yesterday-visits">0</span> / <span id="yesterday-actions">0</span> (Yesterday)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
© 2018 GitHub, Inc. <script src="https://s22.cnzz.com/z_stat.php?id=1274223552&web_id=1274223552" language="JavaScript"></script>
</div>
< script  async  src = “ //pagead2.googlesyndication.com/pagead/js/adsbygoogle.js ” > < / script >
< script >
      (adsbygoogle = window. adsbygoogle || []). Push({
           Google_ad_client : " ca-pub-1886054461493755 ",
           Enable_page_level_ads : true
      });
< script >
</div>
<script type="text/javascript">
    google_ad_client = "ca-pub-1886054461493755";
    google_ad_slot = "2653430109";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- ay7 -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
