* {
	margin: 0px;
	padding: 0px;
	color: #999999;
	font-size: 12px;
	font-family: "微软雅黑";
}

.alal {
	background: #F7F7F7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
li,
dl,
dt,
dd,
input {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	font-weight: normal;
}

a:link,
a:visited {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #C307E5;
	text-decoration: none;
}

.qg_3 {
	width: 990px;
	margin: 0 auto;
}

.qg_2 {
	width: 1003px;
	float: left;
}

.qg_1 {
	width: 176px;
	float: left;
	margin-left: 20px;
}

.toubu_1 {
	width: 176px;
	height: 716px;
	position: fixed;
	top: 30px;
	border: 1px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 0px 50px #B3BFBF;
	-webkit-box-shadow: 5px 0px 10px #BFBFBF;
	box-shadow: 0px 5px 10px #F1F1F1;
	background: #fff;
	border-radius: 4px 4px;
}

.toubu_1_1 {
	width: 176px;
	height: 56px;
	background: #fbf8f8;
	text-align: center;
	line-height: 56px;
	font-size: 20px;
	color: #33CCFF;
	border-bottom: 2px solid#66CCFF;
	margin: 0 0 10px 0;
}

.zwjs_t {
	margin-top: 5px;
	width: 156px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #323;
	margin: 0 10px 0 10px;
}

.zwjs_t:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.zwjs_t:hover {
	width: 156px;
	background: #66CCFF;
	border-radius: 10px 10px;
	transition: all 0.3s ease-in-out;
	

	-moz-box-shadow: 0px 1px 2px #66CCFF;
	-webkit-box-shadow: 0px 1px 2px #66CCFF;
	box-shadow: 0px 1px 2px #66CCFF;

}

.zwjs_t1 {
	margin-top: 10px;
	width: 176px;
	height: 96px;
	float: left;
	border-bottom: 1px solid#e9e9e9;
	border-top: 1px solid#E9E9E9;
	background: #f0f0f0;
	border-radius: 0 0 4px 4px;
}

.zwjs_t1 p {
	margin: 10px 18px 0px 18px;
	width: 140px;
	height: 70px;
	float: left;
	color: #444;
	line-height: 1.8;
	text-align: center;
}

.ss_ {
	width: 1000px;
	height: 60px;
	background: #FFFFFF;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 0px 50px #f7f1f1F;
	-webkit-box-shadow: 5px 0px 5px #f7f1f1;
	box-shadow: 0px 5px 5px #f1f0f0;
	border-radius: 2px 2px;
	position: fixed;
	top: 10px;
}

.ss_z {
	width: 100px;
	height: 40px;
	background: #F7F7F7;
	margin: 10px 0 0 10px;
	float:right;
	outline: none;
	border: 0px;
	text-align: center;
	color: #66CCFF;
	font-size: 12px;
}

.ss_z1 {
	width: 100px;
	height: 40px;
	background: #332233;
	margin: 10px 0 0 30px;
	float: left;
}

.ss_y {
	width: 200px;
	height: 40px;
	margin: 10px 20px 0 10px;
	float: right;
}

.ss_y:hover>a {
	color: #000;
}

.ss_y1 {
	width: 200px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	float: left;
	background: #f7f7f7;
	border-radius: 5px 5px;
}

.ss_y2 {
	margin: 0 0 0 10px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	float: left;
	background: #f7f7f7;
	border-radius: 5px 5px;
	outline: none;
	border: 0px;
}

.ss_tb {
	width: 40px;
	height: 40px;
	background: url(../images/sousuo.png) no-repeat;
	background-size: 20px;
	background-position: center;
	background-color: #F7F7F7;
	float: left;
	cursor: pointer;
	outline: none;
	border: 0px;
}
.an_1 {
	width: 100px;
	height: 20px;
	background: #FFFFFF;
	margin: 15px 0 0 0;
}

.active {
	background: cyan;
}

.ss_y1 {
	display: none;
}

.ss_y1:nth-of-type(1) {
	display: block;
}

.nr_1 {
	width: 1002px;
	float: left;
}

.kb_ {
	width: 1002px;
	height: 70px;
	top: -20px;
}

.nr_2 {
	width: 1002px;
	margin-top: 40px;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 5px 5px #f1f0f0；
	-webkit-box-shadow: 0px 5px 5px #f1f0f0;
	box-shadow: 0px 5px 5px #f1f0f0;
	background: #FFFFFF;
	float: left;
}

.nr_t {
	width: 962px;
	margin: 0 20px 0 20px;
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #66CCFF;
	border-bottom: 2px solid#F7F7F7;
}

.lj_ {
	margin: 10px 10px 30px 10px;
	float: left;
	width: 982px;
	padding-top: 5px;
	font-size: 12px;
}

.lj_ li {
	width: 230px;
	height: 95px;
	background: #F7F7F7;
	float: left;
	margin: 15px 4px 10px 8px;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 5px 5px #F4F4F4;
	-webkit-box-shadow: 0px 5px 5px #F4F4F4;
	box-shadow: 0px 5px 5px #F4F4F4;
	border-radius: 2px 2px;
}

.lj_ li:hover {
	width: 230px;
	background: #F4F4F4;
	border-radius: 10px 10px;
	transition: all 0.3s ease-in-out;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 5px 5px #dbdbdb;
	-webkit-box-shadow: 0px 5px 5px #dbdbdb;
	box-shadow: 0px 10px 15px #dbdbdb;
}

.lj_1 {
	width: 200px;
	height: 40px;
	float: left;
	margin: 15px 0 0 15px;
	line-height: 1.6;
	display: block;
	text-decoration: none;
	
}

.lj_1 p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.4;
	font-size: 11px;
}

.lj_1:hover {
	background: #FFFFFF;
	border-radius: 16px 2px;
	transition: all 0.4s ease-in-out;
	
	-moz-box-shadow: 0px 3px 3px #BFBFBF;
	-webkit-box-shadow: 0px 3px 3px #BFBFBF;
	box-shadow: 3px 3px 3px #e6e7f0;
	margin: -30px 10px 0 10px;
	width: 200px;
	height: 80px;
	overflow: hidden;

}

.lj_1:hover p {
	white-space: inherit;
	overflow: hidden;
	text-overflow: inherit;
	margin: 0 8px 0 5px;
}


.lj_1 b {
	margin: 4px 0 0 0;
	font-size: 13px;
	color: #666666;
}

.lj_zd {
	width: 220px;
	height: 80px;
	margin: 10px 10px;
}

.lj_ i {
	width: 32px;
	height: 32px;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 2px 5px 0 5px;
	float: left;
	border-radius: 4px 4px;
}

.biaoqian {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 18px;
	color: #6B7386;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	border-top: 1px solid#f1f1f1;
	margin: 5px 5px 0 15px;
}

.biaoqian a {
	
	height: 18px;
	float: left;
	margin: 10px 15px 5px 3px;
}

.biaoqian a:hover {
	color: #c307e5;
	background: #fff;
	border: 0.5px solid rgb(244, 249, 248);
	-moz-box-shadow: 0px 2px 2px #e2e4f2;
	-webkit-box-shadow: 0px 2px 2px #e2e4f2;
	box-shadow: 0px 2px 2px #e2e4f2;
	border-radius: 2px 2px;
	
}

.xuanchuan {
	
	width: 962px;
	height: 80px;
	margin: 0 20px 20px 20px;
	float: left;
	font-size: 12px;
}

.wzdb {
	width: 1003px;
	float: left;
	margin: 100px 0 50px 0;
	text-align: center;
	border-top: 2px solid#E9E9E9;
}

.fhsy {
	width: 962px;
	height: 40px;
	margin: 30px 0 30px 20px;
	float: left;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	border-top: 0.8px solid#E9E9E9;
	border-bottom: 0.8px solid#E9E9E9;
}

.yqlj_ {
	margin: 10px 10px 30px 10px;
	float: left;
	width: 982px;
	padding-top: 10px;
	font-size: 12px;
}

.yqlj_ li {
	width: 120px;
	height: 35px;
	background: #F7F7F7;
	float: left;
	background: #F7F7F7;
	float: left;
	margin: 15px 10px 20px 8px;
	overflow: hidden;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 5px 5px #F4F4F4;
	-webkit-box-shadow: 0px 5px 5px #F4F4F4;
	box-shadow: 0px 5px 5px #F4F4F4;
	border-radius: 2px 2px;
	color: #666666;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
}

.yqlj_ li:hover {
	width: 110px;
	background: #F4F4F4;
	border-radius: 10px 10px;
	transition: all 0.2s ease-in-out;
	border: 0.5px solid rgb(249, 249, 248);
	-moz-box-shadow: 0px 5px 5px #e5e5e5;
	-webkit-box-shadow: 0px 5px 5px #e5e5e5;
	box-shadow: 0px 5px 5px #e5e5e5;
}

.jrwm{
	float: left;
	width: 902px;
	margin: 30px 50px 20px 50px;
	font-size: 14px;
	line-height: 3;
	color: #6B7386;
}
.bb_{
	float: left;
	width: 962px;
	margin: 20px 20px 20px 0;
	font-size: 14px;
}
.lx_{
	float: left;
	width: 300px;
	height: 350px;	
}

.lx_t{
	float: left;
	width: 250px;
	height: 250px;
	margin: 25px 25px;
	
}

.lx_wz{
	width: 250px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	float: left;
	margin: 0 25px 0 25px;
}







.ht_bg{
	
	width: 985px;
	margin: 0 auto;
	
}
.ht_dh_top{
	width: 100%;
	height: 60px;
	background: #D8D8D8;
	position: fixed;
	top: 0;
	left: 0;
	color: #66CCFF;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
}
.ht_dh_left{
	width: 220px;
	height: 100%;
	background: #4a4a4a;
	position: fixed;
	top: 60px;
	left: 0;
}

.ht_dh2{
	width: 220px;
	height:42px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	float: left;
	color: #F0F0F0;
	border-bottom: 1px solid#5E5E5E;
	margin: 10px 0 0 0;
}


.ht_dh_bottom{
	width: 985px;
	height: 60px;
	
	border-top: 0.8px solid#D8D8D8;
	position: fixed;
	top: 53px;
	
}



.ht_bg_bt{
	width: 985px;
	border-radius: 4px 4px 0 0;	
	margin: 60px 0 0 0;
	position: fixed;
	top: 0;
}
.ht_bg_bt1{
	width: 985px;
	height: 50px;
	border-radius: 4px 4px 0 0;	
	margin: 40px 0 0 0;
	font-size: 16px;
	color: #FFFFFF;
	
}



.ht_bg1{
	width: 985px;
	height: 50px;
	border-radius:0 0 4px 4px;
	margin: 110px 0 0 0;	
}
.ht_bg_t{
	background: #e8e8e8;
	border-radius: 4px 4px;
		
}
.ht_bg_t2{
	background: #FFFFFF;
}
.ht_bg_1{
	text-align: center;
	color: #332233;
}
.ht_bg_2{
	width: 20px;
	height: 20px;
	
}
.cz_{
	width: 70px;
	height: 25px;
	float: left;
	margin:0 14px 0 14px;
	text-align: center;
	line-height: 25px;
	border: 1px solid#C307E5;
	background: #C307E5;
	color: #FFFFFF;
	border-radius: 4px 4px;
}
.ht_mc{
	width: 985px;
	margin: 30px;
	text-align: center;
	background: #3f3f3f;
}
.ht_tab{
	width: 985px;
	height: 3400px;
	background: #3F3F3F;
}
#cut>.ht_tba:nth-of-type(n){
	display: none;
}
#cut>.ht_tba:nth-of-type(1){
	display: block;
}
.ht_gg_t{
	width: 600px;
	height: 80px;
	line-height: 50px;
	margin-left: 30px;
	font-size: 16px;
}
.ht_gg_w{
	width: 400px;
	height: 20px;
	line-height: 50px;
	margin-left: 30px;
	border: 1px solid#808080;
}

.ht_dh_bottom1{
	width: 70px;
	height: 35px;
	float: right;
	margin:15px 14px 0 14px;
	text-align: center;
	line-height: 25px;
	border: 1px solid#6DADF6;
	background: #6DADF6;
	color: #FFFFFF;
	border-radius: 4px 4px;
}
.ht_gg_bc{
	width: 70px;
	height: 35px;
	margin:0 14px 0 450px;
	text-align: center;
	line-height: 25px;
	border: 1px solid#C307E5;
	background: #C307E5;
	color: #FFFFFF;
	border-radius: 4px 4px;
	
}

.dl_{
	width: 620px;
	height: 220px;
	border-radius: 10px 10px;
	margin: 0 auto;
	margin-top: 20%;
	overflow: hidden;
	border: 1px solid#999999;
}

.dl_ div{
	font-size: 24px;
	color: gray;
	text-align: center;
}
.name input{
	height: 24px;
	width: 200px;
	border: 1px solid#999999;
}
.password input{
	height: 24px;
	width: 200px;
	border: 1px solid#999999;
}

.name{
	margin-top: 50px;
	height: 24px;
	
}
.password{
	margin-top: 30px;
}
.denglu input {
	height: 24px;
	width: 60px;
	border: 1px solid#999999;
	margin-top: 30px;
	margin-left: 210px;
	background: #C307E5;
	color: #fff;
}


.wxgzh {
	width: 1003px;
	height: 28px;
	background: #fff;
	float: left;

	margin-top: 10px;
	-moz-box-shadow: 0px 5px 5px #f1f0f0;
	-webkit-box-shadow: 0px 5px 5px #f1f0f0;
	box-shadow: 0px 5px 5px #f1f0f0;
	border-radius: 2px 2px;
}

#nav {
	MARGIN: 8px auto 0px;
	HEIGHT: 120px
}

#nav #hotnews {
	BORDER-BOTTOM-WIDTH: 0px;
	HEIGHT:120px
}

#Scroll {
	CLEAR: both;
	PADDING-LEFT: 128px;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/logo_wxgzhtj.png) no-repeat;
	MARGIN: 0px auto;
	WIDTH: 826px;
	COLOR: #wwe232;
	LINE-HEIGHT: 28px;
	HEIGHT: 28px;
	TEXT-ALIGN: left
	
}

#Scroll A {
	PADDING-RIGHT: 20px;
	PADDING-LEFT: 10px;
	BACKGROUND: url() no-repeat 0px 0px;
	COLOR: #66CCFF;
	MARGIN-RIGHT: 5px;
	TEXT-DECORATION: none

	
}

#Scroll A.s_end {
	PADDING-RIGHT: 0px;
	MARGIN-LEFT: 8px；
}

#Scroll2 {
	CLEAR: both;
	PADDING-LEFT: 128px;
	FONT-SIZE: 12px;
	BACKGROUND: url(../images/tianqi.png) no-repeat;
	MARGIN: 0px auto;
	WIDTH: 826px;
	COLOR: #wwe232;
	LINE-HEIGHT: 28px;
	HEIGHT: 28px;
	TEXT-ALIGN: left
	
}

.home_dh{
	height: 60px;
	float: left;	
}
.home_dh div{
	height: 50px;
	margin: 8px 10px 0 30px;
	float: left;
	
}
.home_dh a{
	text-align: center;
	font-size: 15px;
	margin: 16px 0 0 0;
	float: left;
	color: #3F3F3F;
}
.home_dh a i{
	margin:0 6px 0 0;
}

.home_dh div:hover {
	background: ;
	border-bottom: 3px solid #66CCFF;
}
.web{
	color:#EC971F;
}

.qietu{
	height:37px;
}
.qietu_js1{
	margin: 0 20px 0 20px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #666;
}
.qietu_js2{
	margin: 0 20px 0 20px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #666;
}
.qietu_tujie{
	width: 962px;
	height: 1479px;
	margin-top: 20px;
	background: url(../images/name1.jpg) no-repeat;
	background-size: 962px 1479px;
}

.qietu_bt_{
	width: 958px;
	margin: 0 20px 0 24px;
	font-size: 14px;
	color: #515151;
	background: #E9E9E9;
	height: 40px;
	line-height: 40px;
	border-left:1px solid#CCCCCC ;
	border-right:1px solid#CCCCCC ;
	border-top:1px solid#CCCCCC ;
}
.qietu_bt_1{
	width: 960px;
	height: 32px;
	margin: 0 20px 0 24px;
	background: #FFFFFF;
	border-left:1px solid#CCCCCC ;
	border-bottom:1px solid#CCCCCC ;
}
.qietu_bt_2{
	width: 960px;
	height: 32px;
	margin: 0 20px 0 24px;
	background: #f7f7f7;
	border-left:1px solid#BFBFBF ;
	border-bottom:1px solid#BFBFBF ;
}
.td_l{
	width: 115px;
	height: 32px;
	float: left;
	color: #666666;
	line-height: 30px;
	text-align: right;
	font-size: 13px;
	border-top:1px solid#BFBFBF ;
	padding-right: 5px;
}
.td_r{
	width: 118.7px;
	height: 32px;
	float: left;
	padding-left: 0px;
	border-top:1px solid#BFBFBF ;
	color: #fb3e3e;
	line-height: 32px;
	font-size: 13px;
	border-right:1px solid#BFBFBF ;
	overflow: hidden;
}




