@charset "utf-8";
html{_background:url(about:blank);}
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{color:#000;text-decoration:none}
a:hover{color:#F60!important;text-decoration:none}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

/* jump */
#jump{position:fixed;top:300px;right:30px;width:40px;z-index:400;}
*html #jump{position:absolute;top:expression(documentElement.scrollTop + "px");margin:300px 0 0 0;}
#jump li{height:50px;overflow:hidden;}
#top,#share,#reply,#sina,#ceping,#weixin{display:block;width:40px;height:42px;overflow:hidden;cursor:pointer;}
#top{background:url(../images/top.png) no-repeat;}
#sina{background:url(../images/sina.png) no-repeat;}
#weixin{background:url(../images/qq.png) no-repeat;}
#sina:hover{background:url(../images/sinad.png) no-repeat;}
#weixin:hover{background:url(../images/qqd.png) no-repeat;}
#EWM{position:absolute;left:-150px;display:none;}
#EWM img{width:150px;height:150px;}